.background {
  background-color: #292929;
}

.home-content-container {
  display: flex;
  flex-flow: column;
  width: 800px;
  height: 100%;
  background-color: #3D3D3D;
  margin: auto;
}

.about-me {
  display: block;
  flex-grow: 1;
}

.my-photo {
  display: block;
  margin: auto;
  width: 350px;
}

.about-me-text {
  width: 500px;
  margin: auto;
  display: block;
}