html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: #292929;
}

main {
  display: flex;
  max-width: 1000px;
  /* Limit homepage content so that we'll always see the background*/
  width: 95%;
  background-color: #3D3D3D;
  /* Centers all interior divs */
  justify-content: center;
  /* With flex display, this centers this div on the page */
  margin: auto;
}

.my-photo {
  /* Center photo */
  display: flex;
  justify-content: center;
  margin: auto;
}

.my-photo-img-tag {
  padding-top: 25px;
  /* Scale image with the viewport */
  max-width: 400px;
  width: 70%;
}

/* Properties apply to all text elements */
.about-me-text, .header-name, .tagline {
  font-family: 'Rubik', 'Trebuchet MS', sans-serif;
  color: #FFFFF0;
}

.about-me-text {
  max-width: 800px;
  display: block;
  font-size: 22px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Reduce text size at smaller viewport size */
@media screen and (max-width: 700px) {
  .about-me-text {
    font-size: 20px;
  }
}

.page-head {
  background-color: #3D3D3D;
}

.page-head-name {
  display: inline-block;
  margin-left: 60px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.header-name {
  font-size: 108px;
  /* Reduce space between headers */
  margin-top: 20px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 30px;
  /* Control space between headers using only my name */
  margin-top: 0px;
}

.header-links {
  /* Aligns content to the right side of the header */
  float: right;
}

.main-nav {
  background-color: #047377;
  height: 5%;
}

.in-logo {
  width: 40px;
  margin-right: 60px;
  margin-top: 30px;
}