html {
  height: 100%;
}

.page-head {
  display: block;
}

body {
  background-color: #292929;
  height: 100%;
}

.home-content-container {
  display: flex;
  max-width: 1000px;
  /* Limit homepage content so that we'll always see the background*/
  width: 95%;
  background-color: #3D3D3D;
  /* Centers all interior divs */
  justify-content: center;
  /* With flex display, this centers this div on the page */
  margin: auto;
}

.my-photo {
  /* Center photo */
  display: flex;
  justify-content: center;
  margin: auto;
}

.my-photo-img-tag {
  /* Scale image with the viewport */
  max-width: 400px;
  width: 70%;
}

.about-me-text {
  max-width: 800px;
  display: block;
  font-family: 'Rubik', 'Trebuchet MS', sans-serif;
  color: #FFFFF0;
  font-size: 22px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Reduce text size at smaller viewport size */
@media screen and (max-width: 700px) {
  .about-me-text {
    font-size: 20px;
  }
}