body {
  background-color: #292929;
  font-family: 'Rubik', 'Trebuchet MS', sans-serif;
  color: #FFFFF0;
  margin: 0;
}

#main-nav {
  background-color: #047377;
  font-weight: bold;
  font-size: 1.25em;
  height: 3em;
  overflow: auto;
  /* Vertically centers nav links */
  line-height: 3em;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#social-nav-list {
  margin-top: 0;
  /*margin-bottom: 10em;*/
}

.main-nav-link {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

.social-nav-link {
  display: inline;
  margin-left: 0.75em;
  margin-right: 0.75em;
  transition: opacity 200ms;
}

/* Hover and click actions for social links */
.social-nav-link:hover {
  opacity: 70%;
  cursor: pointer;
}
.social-nav-link:active {
  opacity: 30%;
}

#linkedin-link {
  width: 4em;
}

#github-link, #contact-link {
  width: 4.1em;
}

#my-photo {
  max-width: 25em;
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

#name-tag {
  font-size: 6em;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0;
}

#tagline {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
}

#mail-confirmation {
  text-align: center;
  font-size: 1em;
  color: #292929;
}

/* Scales homepage text with viewport */
@media screen and (max-width: 750px) {
  #name-tag {
    font-size: 13vw;
  }

  #tagline {
    font-size: 4.3vw;
  }
}

/* Scales email confirmation with viewport */
@media screen and (max-width: 450px) {
  #mail-confirmation {
    font-size: 3.6vw;
  }
}

/* Animations for copy email tooltip */
@keyframes fade-in-tooltip {
  from {
    color: #292929;
  }
  to {
    color: #FFFFF0;
  }
}
@keyframes fade-out-tooltip {
  from {
    color: #FFFFF0;
  }
  to {
    color: #292929;
  }
}

#openmoji-attribution {
  font-size: 0.85em;
  text-align: center;
  color: #727272;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

.openmoji-link {
  color: #727272;
  text-decoration: underline;
}
