body {
  background-color: #292929;
  font-family: 'Rubik', 'Trebuchet MS', sans-serif;
  color: #FFFFF0;
  margin: 0;
}

#main-nav {
  background-color: #047377;
  font-weight: bold;
  font-size: 1.25em;
  height: 3em;
  overflow: hidden;
  /* Vertically centers nav links */
  line-height: 3em;
}

#main-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-nav-link {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}
